[forgejo]
enabled = true
port = http,https
filter = forgejo
logpath = {{ forgejo_home }}/log/forgejo.log
maxretry = {{ forgejo_fail2ban_jail_maxretry }}
findtime = {{ forgejo_fail2ban_jail_findtime }}
bantime = {{ forgejo_fail2ban_jail_bantime }}
action = {{ forgejo_fail2ban_jail_action }}
